<div class="container content-wrapper buffer-both">
  <h1 class="title-medium"> <%= yield(:title) %> </h1>

  <div class="column-1-2">
    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="form-errors">
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li class="form-error-message"><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-field">
        <%= f.label :email, 'Логин (email)', class: 'form-label' %>
        <%= f.text_field :email, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label :username, 'Никнейм', class: 'form-label' %>
        <%= f.text_field :username, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label :name, 'Имя', class: 'form-label' %>
        <%= f.text_field :name, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label :password, 'Пароль', class: 'form-label' %>
        <%= f.password_field :password, class: 'form-text-field' %>
      </div>

      <div class="buffer-top-large buffer-bottom">
        <%= yield(:change_password) %>
      </div>

      <div class="form-field">
        <%= f.label :password_confirmation, 'Пароль ещё раз', class: 'form-label' %>
        <%= f.password_field :password_confirmation, class: 'form-text-field' %>
      </div>

      <div class="form-field color-form">
        <%= f.label :favorite_color, 'Выбор цвета', class: 'form-label' %>
        <%= f.color_field :favorite_color, class: 'form-text-field', value: '#ff00ff' %>
      </div>

      <div class="form-action">
        <%= f.submit yield(:submit_title), class: 'button button-small button-dark' %>
      </div>

      <% if current_user == @user %>
        <div class="button button-destroy button-small">
          <%= link_to 'Удалить профиль', user_path(@user), method: :delete, data: { confirm: 'Вы уверены?' } %>
        </div>
      <% end %>

    <% end %>
  </div>
</div>
